@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    overflow: auto;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1f2937;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    padding-bottom: 50px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 16px;
}

.logo {
    font-size: 32px;
    font-weight: 900;
    display: flex;
    margin: 20px 30px;
}

.header-links {
    display: flex;
    margin: 30px 32px;
    gap: 12px;
}

.intro {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    margin: 24px 40px;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 75px;
    margin: 0 auto;
    width: 900px;
}

.text {
    font-size: 36px;
    font-weight: 700;
}

.sub-text {
    font-size: 16px;
    padding-right: 20px;
}


.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    margin: 0 auto;
    width: 900px;
    
}

.subsection-1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 40px 5px;
}

.info {
    display: flex;
    font-weight: 700;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    padding: 30px 28px;
}

.fruits{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding:0px 32px;
    gap: 8px;
}



.subsection-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-style: italic;
    background-color: #E5e7eb;
    font-weight: 100;
    padding: 40px 190px;
}

.subsection-3 {
    display: flex;
    border-style: solid;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882f6;
    font-size: 12px;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    margin: 48px 96px;
    padding: 20px 5px;
}

.sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 40px;
}

.call-sign {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.call {
    display: flex;
    font-weight: 800;
    font-size: 15px;
    align-items: left;
}

.sign {
    display: flex;
}

    
.footer {
    background: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 12px;
    min-height: 34px;
}

button {
    border: none;
    border-radius: 6px;
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    padding: 4px 16px;
    display: flex;
    align-self:flex-start;
}
.signup {
    display: flex;
    border: 1px solid #fff;
}

.watermelon,
.pineapple,
.lime,
.coconut {
    height: 115px;
    width: 120px;
    object-fit:scale-down;
}

div.creation {
    display: flex;
    flex-direction: column;
    object-fit:scale-down;
}

.image {
    display: flex;
    height: 180px;
    width: 320px;
}

div.figure {
    display: flex;
    font-size: 14px;
    text-wrap: wrap;
    border: 1px solid #fff;
    margin: 10px 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 8px;
}
li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
